.current-player-wrapper{
    border-radius: 10px;
    border: black solid 1px;
    margin-bottom: 2vh;
    height: 6vh;
    font-weight: 900;
    font-size: 1.6rem;
    background-color: rgb(103,106,111);
    color: white;
}