.winner-message-wrapper{
    margin: auto;
    margin-top: 5%;
    border: black solid 1px;
    border-radius: 10px;
    color: black;
    height: 5vh;
    width: 80%;
    padding: 1.5%;
    background-color: rgb(103,106,111);
}

.winner-wrapper{
    color: white;
}

.span-winner{
    color: red;
    font-weight: 700;
}

.i-winner{
    margin: 2%;
    color: goldenrod;
}
